<?xml version="1.0"?>
<model>
  <name>Quadrotor Drone</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  
  <author>
    <name>User</name>
    <email>user@example.com</email>
  </author>
  
  <description>
    Quadrotor drone model untuk simulasi dengan Ignition Gazebo
  </description>
</model>

